

<nav class="navbar navbar-expand-sm navbar-dark bg-dark pr-5">
    <a class="navbar-brand" href="#">Inicio</a>
    <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="empleados" routerLinkActive="active">Lista de Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registrar-empleado" routerLinkActive="active">Registrar Empleado</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
</nav>
<h1 class="text-center"> {{title}} </h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
